<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Share Music</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Songs" asp-action="AddSong">Add Song</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Groups" asp-action="CreateGroup">Create Group</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Groups" asp-action="List">Groups</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>