@model SongCardViewModel

<div>
    <a asp-controller="Songs" asp-action="Details" asp-route-songId="@Model.SongId">
        <img src="https://img.youtube.com/vi/@Model.VideoId/mqdefault.jpg" alt="@Model.Name" />
    </a>

    <div class="card-body">
        <p class="card-title">@Model.Name</p>
    </div>
</div>