@model HomeRecentSongsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Songs" asp-action="Search" method="get" class="form-inline d-flex justify-content-center md-form form-sm mb-md-5">
        <input asp-for="SearchText" class="form-control form-control-sm mr-3 w-75" placeholder="Search" aria-label="Search" />
        <input type="submit" class="btn btn-outline-info" value="Search" />
    </form>
</div>

<ul class="row list-unstyled">
    @foreach (var song in Model.NewestSongs)
    {
        <li class="col-md-4">
            <partial name="_SongCardPartialView" model="@song" />
        </li>
    }
</ul>