@model GroupsListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<asp:Content ID="MultiSelectContent" runat="server" ContentPlaceHolderID="MultiSelectContent">
    <link href="~/css/groupSerachForm.css" rel="stylesheet" />
</asp:Content>

<div class="row justify-content-between">
    <div class="col-md-12 row justify-content-center">
        <div class="col-md-8 my-md-4">
            <h2 class="text-center mb-md-2">Search for existing group</h2>
            <form asp-controller="Groups" asp-action="Search" method="get" class="form-inline d-flex justify-content-center md-form form-sm">
                <input asp-for="SearchText" class="form-control form-control-sm mr-3 w-75" placeholder="Search" aria-label="Search" />
                <input type="submit" class="btn btn-outline-info" value="Search" />
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Groups created by you:</h3>
        <ol>
            @foreach (var group in Model.OwnedGroups)
            {
                <li>
                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@group.Id" class="lead">@group.Name</a>
                </li>
            }
        </ol>
    </div>
    <div class="col-md-6">
        <h3>Groups you take part in:</h3>
        <ol>
            @foreach (var group in Model.GroupsForUser)
            {
                <li>
                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@group.Id" class="lead">@group.Name</a>
                </li>
            }
        </ol>
    </div>
    <div class="col-md-12 row justify-content-center">
        <div class="col-md-6 text-center">
            <h4>Create your own group</h4>
            <a class="btn btn-success" asp-controller="Groups" asp-action="CreateGroup">Create Group</a>
        </div>
    </div>
</div>