@{
    ViewData["Title"] = "Join";
}

<h1>Your request has been sent. Wait for the approval. Meanwhile you can listen to more music</h1>
<a class="btn btn-info" asp-controller="Home" asp-action="Index">Songs Library</a>